body{
    margin: 0px;
    padding: 0px;
       display: flex;
   align-items: center;
   justify-content: center;
}

#login{
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.container{

     width: 320px;
      padding: 30px;
  border-radius: 15px;
   background: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.login-group{
      text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-group{
      margin-bottom: 15px;
}

.login-group lable{
     display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #555;
}

.login-group{
     width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.login-group input:focus {
  border-color: #5563DE;
  box-shadow: 0 0 4px #5563DE;
}

button {
  width: 100%;
  padding: 10px;
  background: #5563DE;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4452c3;
}