*{
    margin: 0%;
    padding: 0%;
     font-family: "Zalando Sans Expanded", sans-serif;

}
h1{
    display: inline;
    margin: 10px;
}

ul,a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
li{
display: inline;
margin-left: 20px;
float: right;
margin: 15px;
}
nav{
    background-color: rgb(255, 255, 255);
    margin: 10px;;
   height: 60px;
   position: relative;
   
}

.box{
    display: inline-block;
    margin: 50px;
    width: 200px; ;
    margin-top: 30px;
   justify-content: space-evenly;
   
   
}

.pg{
    text-align: center;

  

}
.box img{
     width: 245px;
    height: 360px;
    margin-top: 0px;
    align-items: center;
   
    
}

.box p{
    text-align: center;
    margin-left: 5%;
}

/* .box button{
    color: white;
    background-color: black;
    width: 70px;
    height: 30px;
margin-left: 30px;
  margin: 20px;
    border-radius: 10px;
} */

#second{
    position: relative;
    margin-top: 150px;
    
   text-align: center;
   
}
#second p{
  
    margin-top: 80px;
    border: 2px solid black;
    padding: 10px;
    display: inline;
    margin: 30px;

}

/* #second input{
height: 40px;
width: 350px;
text-align: center;
} */

/* #second button{
    width: 70px;
    height: 40px;
    background-color: black;
    color: white;
} */

li:hover{
    background-color: rgb(99, 97, 97);
    cursor: pointer;
}


#about p,h2{
    background-color: black;
    color: white;
 text-align: center;
   padding: 10px;
  
}

.logo {
 width: 150px;
 height: 100px;
 margin: 0%;
 padding: 0%;
 background-color: white;
left: 40%;
position: relative;
   
}

.fa-bars{
    float: left;
}

/* .fa-magnifying-glass{
    float: right;
    margin-top: 15px;
} */